/* For devices at 375px */
*{
    margin: 0;
    padding: 0;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #4d4d4d;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 275px 130px 160px 80px 
    80px 35px 75px 230px
    930px
    800px
    1300px
    1000px
    450px
    220px;
}

header{
    grid-column: 1 / span 12;
    grid-row: 1 / span 4;
    background-image: url(assets/header-gray.svg);
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 275px 130px 160px 80px;
}

.hbd{
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    width: 45%;
    margin: 5em auto 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.free-trial{
    grid-column: 1 / span 12;
    grid-row: 2 / span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: 800;
    font-size: 21pt;
    line-height: 30px;
    text-align: center;
    margin: 2em 0 0 0;
}

h1 span{
    font-size: 44pt;
    font-weight: 800;
}

.seven-day{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.free-trial-bean{
    width: 55px;
    margin: 30px 2px 0 2px;
}

h2{
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35pt;
    letter-spacing: 5px;
    line-height: 45px;
    text-align: center;
    color: #f2cb05;
    margin: 1.2em 0 0 0;
}

h2 span{
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-size: 80pt;
    font-weight: 800;
    color: #f2cb05;
}

.cta{
    background-color: #3068d9;
    color: #fff;
    font-weight: 700;
    font-size: 18pt;
    text-decoration: none;
    text-align: center;
    border-radius: 70px;
    padding: .4em 2.3em;
    margin: 1em 0;
}

.satisfaction{
    grid-column: 1 / span 12;
    grid-row: 6 / span 3;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 35px 100px 230px;
}

h3{
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-size: 22pt;
    text-align: center;
}

.guarantee{
    grid-column: 2 / span 10;
    grid-row: 2 / span 1;
    text-align: center;
    font-size: 13pt;
    font-weight: 400;
    line-height: 26pt;
    padding: 10px 0 0 0;
}

.one-hundred{
    grid-column: 4 / span 6;
    grid-row: 3 / span 1;
}

.customers{
    grid-column: 1 / span 12;
    grid-row: 9 / span 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 60px 365px 425px;
}

.customers h3{
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
}

.customers h3::before{
    content: '';
    background: url(assets/orange-bean-left.svg);
    width: 25px;
    height: 38px;
    position: absolute;
    left: 2.5em;
}

.customers h3::after{
    content: '';
    background: url(assets/orange-bean-right.svg);
    width: 25px;
    height: 38px;
    position: absolute;
    right: 2.5em;
}

.customer{
    grid-column: 2 / span 10;
    grid-row: 3 / span 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    padding: 1em;
}

.customer2{
    grid-column: 2 / span 10;
    grid-row: 4 / span 1;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    padding: 1em;
}

.customer2 .customer-company{
    color: #f2cb05;
}

.customer-company{
    grid-column: 4 / span 6;
    grid-row: 3 / span 1;
    position: relative;
    bottom: 2em;

    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-size: 21pt;
    text-align: center;
    color: #9450f2;
}

.customer-description{
    font-weight: 700;
    font-size: 12pt;
    line-height: 24pt;
}

.customer-name{
    font-weight: 100;
    font-style: italic;
    font-size: 10pt;
    padding: 10px 0 0 0;
}

.plans{
    grid-column: 1 / span 12;
    grid-row: 10 / span 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 95px 750px;
}

.plans h3{
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    align-self: center; 
}

.plans h3::before{
    content: '';
    background: url(assets/green-bean-left.svg);
    width: 25px;
    height: 38px;
    position: absolute;
    left: 1.5em;
}

.plans h3::after{
    content: '';
    background: url(assets/green-bean-right.svg);
    width: 25px;
    height: 38px;
    position: absolute;
    right: 1.5em;
}

.plans-module{
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 126px 420px 100px 129px;
}

.plan-heading{
    height: 115px;
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    justify-self: center;
}

.headings{
    grid-column: 2 / span 10;
    grid-row: 1 / span 1;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
    
    position: relative;
    bottom: 1em;
}

h5{
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18pt;
    color: #4d4d4d;
    padding: .5em .8em;
}

.selected-plan{
    background: #fff;
    border-radius: 70px;
}

.plans-module ul{
    grid-column: 2 / span 10;
    grid-row: 2 / span 1;
    
    list-style-type: none;
    text-align: center;
    font-size: 15pt;
    line-height: 32pt;
}

.plans-module ul li{
    font-weight: 100;
}

.plans-module ul .selected{
    color: #f27d16;
    font-weight: 500;
}

#pricing{
    grid-column: 2 / span 10;
    grid-row: 3 / span 1;
    align-self: center;

    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt;
    text-align: center;
    padding: .5em 1em;
    background: #4d4d4d;
    color: #fff;
    border-radius: 70px;
}

.plan-footer{
    height: 65px;
    grid-column: 1 / span 12;
    grid-row: 4 / span 1;
    justify-self: center;
    /* align-self: end; */
}

.process{
    grid-column: 1 / span 12;
    grid-row: 11 / span 1;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 80px 335px 720px 100px;
}

.process-bg{
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
    align-self: center;
    /* margin: 10em 0 0 0; */
}

.process h3{
    grid-column: 1 / span 12;
    grid-row: 2 / span 1;
    align-self: center;
    position: relative;
    bottom: 2em;
}

.wizard-bean{
    grid-column: 5 / span 4;
    grid-row: 2 / span 1;
    align-self: center;
    position: relative;
    top: 3.5em;
}

.process-steps{
    grid-column: 3 / span 8;
    grid-row: 3 / span 1;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.process-steps p{
    text-align: center;
    line-height: 25pt;
    font-size: 12pt;
    padding: 0 0 20px 0;
}

.step{
    height: 135px;
}

.process a{
    grid-column: 2 / span 10;
    grid-row: 4 / span 1;
    align-self: center;
}

.faq{
    grid-column: 3 / span 8;
    grid-row: 12 / span 1;

    display: flex;
    flex-direction: column;
}

.faq h3{
    grid-column: 2 / span 10;
    grid-row: 1 / span 1;
    align-self: center;

    margin: 0 0 1em 0;
}

.faq h3::before{
    content: '';
    background: url(assets/yellow-bean-left.svg);
    width: 25px;
    height: 38px;
    position: absolute;
    left: 1.8em;
}

.faq h3::after{
    content: '';
    background: url(assets/yellow-bean-right.svg);
    width: 25px;
    height: 38px;
    position: absolute;
    /* top: 0em; */
    right: 1.8em;
}

.faq h6{
    font-weight: 700;
    font-size: 19pt;
    line-height: 24pt;
}

.faq p{
    font-weight: 400;
    font-size: 12pt;
    line-height: 24pt;
    padding: 10px 25px 20px 0;
}

/* .faq p:nth-child(0n+1)::after{
    content: '';
    background: url(assets/faq-yellow-bean.svg);
    width: 55px;
    height: 63px;
    position: absolute;
    right: 1.3em;
} */

.faq-yellow-bean{
    width: 55px;
}

.claim{
    grid-column: 2 / span 10;
    grid-row: 13 / span 1;

    display: flex;
    flex-direction: column;
}

.claim h3{
    grid-column: 2 / span 10;
    grid-row: 1 / span 1;
    align-self: center;

    margin: 0 0 1em 0;
}

.claim h3::before{
    content: '';
    background: url(assets/purple-bean-left.svg);
    width: 25px;
    height: 38px;
    position: absolute;
    left: 1.2em;
}

.claim h3::after{
    content: '';
    background: url(assets/purple-bean-right.svg);
    width: 25px;
    height: 38px;
    position: absolute;
    right: 1.2em;
}

.images{
    margin: 50px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 220px;
    align-self: center;
}

.claim-beans{
    display: none;
}

.claim-desc{
    display: none;
}

.example1{
    grid-column: 1 / span 6;
    grid-row: 1 / span 1;
    width: 100%;
}

.example2{
    grid-column: 7 / span 6;
    grid-row: 1 / span 1;
    width: 100%;
}

footer{
    grid-column: 1 / span 12;
    grid-row: 14 / span 1;
    background-image: url(assets/footer.svg);
    background-repeat: no-repeat;
}





/* ******************************* */
/* ******************************* */
/* For devices at 700px */
@media only screen and (min-width: 700px){
    .grid-container{
        grid-template-rows: 300px 570px 720px 1395px 1230px 810px 800px 500px;
    }

    header{
        grid-column: 1 / span 12;
        grid-row: 1 / span 1;
        background-image: url(assets/header-gray-desktop.svg);
        background-repeat: no-repeat;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 75px 75px 75px 75px;
    }

    .hbd{
        grid-column: 2 / span 3;
        grid-row: 2 / span 2;
        width: 90%;
        margin: 0;
    }

    .free-trial{
        grid-column: 7 / span 5;
        grid-row: 2 / span 3;
    }

    h1{
        font-size: 18pt;
        line-height: 35px;
        margin: 0;
    }

    h1 span{
        font-size: 40pt;
    }

    .seven-day{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    
    .free-trial-bean{
        width: 50px;
        margin: 0 0 0 0;
    }
    
    h2{
        font-size: 20pt;
        line-height: 30px;
        margin: 0.5em .5em 0 .5em;
    }
    
    h2 span{
        font-size: 40pt;
        font-weight: 800;
    }
}





/* ******************************* */
/* ******************************* */
/* For devices at 1900-1920px */
@media only screen and (min-width: 1900px){
    .grid-container{
        grid-template-rows: 750px 570px 720px 1395px 1230px 810px 800px 500px;
    }

    header{
        grid-template-rows: 205px 205px 192px 148px;
    }

    .hbd{
        grid-column: 2 / span 3;
        grid-row: 1 / span 3;
        width: 90%;
        margin: 0;
    }

    .free-trial{
        grid-column: 7 / span 4;
        grid-row: 1 / span 3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    h1{
        font-size: 28pt;
        line-height: 45px;
        margin: 4em 0 0 0;
    }
    
    h1 span{
        font-size: 60pt;
    }

    .seven-day{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    
    .free-trial-bean{
        width: 145px;
        margin: 0 0 0 0;
    }
    
    h2{
        font-size: 40pt;
        line-height: 55px;
        margin: 1em .5em 0 .5em;
    }
    
    h2 span{
        font-family: hwt-artz, sans-serif;
        font-weight: 700;
        font-size: 90pt;
        font-weight: 800;
        color: #f2cb05;
    }

    .cta{
        font-size: 30pt;
        text-align: center;
        border-radius: 70px;
        padding: .4em 2.3em;
        margin: .6em 0 0 0;
    }

    .satisfaction{
        grid-column: 4 / span 6;
        grid-row: 2 / span 1;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 75px 75px 420px;
    }
    
    h3{
        grid-column: 1 / span 12;
        grid-row: 1 / span 1;
        font-size: 50pt;
    }
    
    .guarantee{
        grid-column: 2 / span 10;
        grid-row: 2 / span 1;
        font-size: 19pt;
        padding: 10px 0 0 0;
    }
    
    .one-hundred{
        grid-column: 4 / span 6;
        grid-row: 3 / span 1;
    }

    .customers{
        grid-column: 2 / span 10;
        grid-row: 3 / span 1;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 155px 200px 365px;
    }
    
    .customers h3{
        grid-column: 1 / span 12;
        grid-row: 2 / span 1;
    }
    
    .customers h3::before{
        width: 57px;
        height: 87px;
        left: 10.3em;
    }
    
    .customers h3::after{
        width: 57px;
        height: 87px;
        right: 10.3em;
    }
    
    .customer{
        grid-column: 3 / span 4;
        grid-row: 3 / span 1;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        text-align: left;
        padding: .3em;
    }

    .customer1{
        grid-column: 1 / span 3;
        width: 263px;
    }
    
    .customer2{
        grid-column: 7 / span 4;
        grid-row: 3 / span 1;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        text-align: left;
        padding: .3em;
    }
    
    .customer-company{
        font-size: 30pt;
        text-align: center;
        width: 200px;
    }
    
    .customer-description{
        font-size: 18pt;
        line-height: 30pt;
        text-align: center;
    }
    
    .customer-name{
        font-size: 13pt;
        padding: 20px 0 0 0;
        text-align: left;
    }

    .plans{
        grid-column: 2 / span 10;
        grid-row: 4 / span 1;
        margin: 0;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 245px 90px 1060px;
    }
    
    .plans h3{
        grid-column: 1 / span 12;
        grid-row: 2 / span 1;
        align-self: center; 
    }
    
    .plans h3::before{
        width: 57px;
        height: 87px;
        left: 9.4em;
    }
    
    .plans h3::after{
        width: 57px;
        height: 87px;
        right: 9.4em;
    }
    
    .plans-module{
        grid-column: 3 / span 8;
        grid-row: 3 / span 1;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 280px 480px 200px 100px;
    }
    
    .plan-heading{
        margin: 50px 0 0 0;
        height: 180px;
        grid-column: 3 / span 8;
        grid-row: 1 / span 1;
        justify-self: center;
    }
    
    .headings{
        grid-column: 4 / span 6;
        grid-row: 1 / span 1;

        justify-content: space-evenly;
    }
    
    h5{
        font-size: 24pt;
    }
    
    .plans-module ul{
        grid-column: 2 / span 10;
        grid-row: 2 / span 1;
        
        font-size: 18pt;
        line-height: 36pt;
    }
    
    #pricing{
        grid-column: 5 / span 4;
        grid-row: 3 / span 1;
        align-self: center;
    
        font-size: 24pt;
        padding: .5em 1em;
    }
    
    .plan-footer{
        height: 100px;
        grid-column: 3 / span 8;
        grid-row: 4 / span 1;
    }

    .process{
        grid-column: 1 / span 12;
        grid-row: 5 / span 1;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 200px 200px 50px 200px 200px;
    }
    
    .process-bg{
        grid-column: 1 / span 12;
        grid-row: 2 / span 2;

        align-self: start;
        margin: 0;
    }
    
    .process h3{
        grid-column: 1 / span 12;
        grid-row: 2 / span 1;
        position: relative;
        align-self: end;
        bottom: 0em;
    }
    
    .wizard-bean{
        grid-column: 2 / span 3;
        grid-row: 4 / span 3;
        align-self: end;
        position: relative;
        top: 0em;
    }
    
    .process-steps{
        grid-column: 6 / span 4;
        grid-row: 4 / span 3;
    
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
    }
    
    .process-steps p{
        text-align: left;
        line-height: 30pt;
        font-size: 18pt;
        max-width: 260px;
        padding: 20px 40px 20px 50px;
    }
    
    .step{
        height: 180px;
    }
    
    .process a{
        grid-column: 6 / span 4;
        grid-row: 7 / span 1;
        align-self: center;
    }

    .faq{
        grid-column: 2 / span 10;
        grid-row: 6 / span 1;
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 300px 100px 50px 50px 130px 50px 130px;
    }
    
    .faq h3{
        grid-column: 2 / span 10;
        grid-row: 2 / span 1;
        align-self: center;
        text-align: center;
    
        margin: 0;
    }
    
    .faq h3::before{
        width: 57px;
        height: 87px;
        left: 7.7em;
    }
    
    .faq h3::after{
        width: 57px;
        height: 87px;
        right: 7.7em;
    }
    
    .faq h6{
        font-size: 24pt;
        line-height: 24pt;
    }
    
    .faq p{
        font-weight: 400;
        font-size: 14pt;
        line-height: 24pt;
        max-width: 300px;
    }
    
    .faq .q1{
        grid-column: 2 / span 4;
        grid-row: 4 / span 1;
        text-align: right;
    }

    .faq .a1{
        grid-column: 2 / span 4;
        grid-row: 5 / span 1;
        text-align: right;
        max-width: 380px;
        justify-self: end;
        padding: 0;
    }

    .faq .q2{
        grid-column: 8 / span 4;
        grid-row: 4 / span 1;
        text-align: left;
    }

    .faq .a2{
        grid-column: 8 / span 4;
        grid-row: 5 / span 1;
        text-align: left;
        max-width: 400px;
        justify-self: start;
        padding: 0;
    }

    .faq .q3{
        grid-column: 2 / span 4;
        grid-row: 6 / span 1;
        text-align: right;
    }

    .faq .a3{
        grid-column: 2 / span 4;
        grid-row: 7 / span 1;
        text-align: right;
        max-width: 330px;
        justify-self: end;
        padding: 0;
    }

    .faq .q4{
        grid-column: 8 / span 4;
        grid-row: 6 / span 1;
        text-align: left;
    }

    .faq .a4{
        grid-column: 8 / span 4;
        grid-row: 7 / span 1;
        text-align: left;
        max-width: 400px;
        justify-self: start;
        padding: 0;
    }

    .claim{
        grid-column: 2 / span 10;
        grid-row: 7 / span 1;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 150px 100px 400px 100px;
    }
    
    .claim h3{
        grid-column: 2 / span 10;
        grid-row: 2 / span 1;
        align-self: center;
    
        margin: 0 0 1em 0;
    }
    
    .claim h3::before{
        width: 57px;
        height: 87px;
        left: 9em;
    }
    
    .claim h3::after{
        width: 57px;
        height: 87px;
        right: 9em;
    }

    .claim .cta{
        grid-column: 5 / span 4;
        grid-row: 4 / span 1;
        align-self: center;
    }

    .images{
        grid-column: 1 / span 12;
        grid-row: 3 / span 1;

        margin: 50px 0 0 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 400px;
        align-self: center;
    }

    .claim-beans{
        display: block;

        grid-column: 5 / span 4;
        grid-row: 1 / span 1;
    }

    .claim-desc{
        display: block;
        grid-column: 5 / span 4;
        grid-row: 1 / span 1;

        text-align: center;
        font-weight: 400;
        font-size: 22pt;
        line-height: 35pt;
        align-self: center;
    }

    .example1{
        grid-column: 1 / span 3;
        grid-row: 1 / span 1;
        width: 100%;
    }
    
    .example2{
        grid-column: 10 / span 3;
        grid-row: 1 / span 1;
        width: 100%;
    }

    footer{
        grid-column: 1 / span 12;
        grid-row: 8 / span 1;
        background-image: url(assets/footer-desktop.svg);
        background-repeat: no-repeat;
    }
}