/* For devices at 375px */
*{
    margin: 0;
    padding: 0;
    font-family: proxima-nova, sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #4d4d4d;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 275px 130px 160px 80px 
    80px 35px 75px 230px;
}

header{
    grid-column: 1 / span 12;
    grid-row: 1 / span 4;
    background-image: url(assets/header-gray.svg);
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 275px 130px 160px 80px;
}

.hbd{
    grid-column: 1 / span 12;
    grid-row: 1 / span 1;
    width: 45%;
    margin: 5em auto 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.free-trial{
    grid-column: 1 / span 12;
    grid-row: 2 / span 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: 800;
    font-size: 21pt;
    line-height: 30px;
    text-align: center;
    margin: 2em 0 0 0;
}

h1 span{
    font-size: 44pt;
    font-weight: 800;
}

.seven-day{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.free-trial-bean{
    width: 55px;
    margin: 30px 2px 0 2px;
}

h2{
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35pt;
    letter-spacing: 5px;
    line-height: 45px;
    text-align: center;
    color: #f2cb05;
    margin: 1.2em 0 0 0;
}

h2 span{
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-size: 80pt;
    font-weight: 800;
    color: #f2cb05;
}

.cta{
    background-color: #3068d9;
    color: #fff;
    font-weight: 700;
    font-size: 18pt;
    text-decoration: none;
    text-align: center;
    border-radius: 70px;
    padding: .4em 2.3em;
    margin: 1em 0;
}

.satisfaction{
    grid-column: 1 / span 12;
    grid-row: 6 / span 3;
}

h3{
    grid-column: 1 / span 12;
    grid-row: 6 / span 1;
    font-family: hwt-artz, sans-serif;
    font-weight: 700;
    font-size: 22pt;
    text-align: center;
}

.guarantee{
    grid-column: 2 / span 10;
    grid-row: 7 / span 1;
    text-align: center;
    font-size: 13pt;
    font-weight: 400;
    line-height: 26pt;
    padding: 10px 0 0 0;
}